<p>{{ demo.start }}</p>
<p>{{ demo.end }}</p>
<p>{{ temp2 }}</p>
<p>{{ temp3 }}</p>
<div>
    <br>
    <input type="button" class="sample" value="1H" ng-click="filterDate('1H')">
    <input type="button" value="1D" ng-click="filterDate('1D')">
    <input type="button" value="1W" ng-click="filterDate('1W')">
    <input type="button" value="1M" ng-click="filterDate('1M')">
    <input type="button" value="All" ng-click="filterDate('All')">
    <input type="datetime-local" ng-model="start" >
    <input type="datetime-local" ng-model="end" >
    <br>
    <br>
</div>
<div ui-grid="analysisGrid" class="myGrid"></div>
<br>
